@font-face {
    font-family: 'GodOfWar';
    src: url('GodOfWar.woff2') format('woff2'),
        url('GodOfWar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

